.authPage {
    display: flex;
    height: 100vh;
    background-color: #0a3d38;
    font-family: sans-serif;
  
    .leftPanel {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: #ffffff;
      padding: 0 20px;
      background-color: #0a3d38;
  
      h5 {
        letter-spacing: 2px;
        font-weight: 100;
        a {
            color: #4caf50;
          }
      }
  
      h2 {
        font-size: 2.5rem;
        margin-bottom: 20px;
      }
  
      p {
        font-size: 1rem;
        text-align: center;
        letter-spacing: 2px;
        font-weight: 100;
        color:#9F9F9F;
        line-height: 22px;
       
  
        
      }
    }
  
    .formContainer {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      
      padding: 30px;

      .form{
        background-color:#235E4A ;
        padding: 20px;
        border-radius: 15px;
      }
  
      .ant-tabs {
        width: 100%;
        max-width: 400px;
        background: #ffffff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      }
  
      .ant-tabs-nav {
        margin-bottom: 16px;
      }
  
      .ant-tabs-tab {
        font-size: 1.2rem;
        color: #0a3d38;
      }
  
      .ant-tabs-tab-active .ant-tabs-tab-btn {
        color: #4caf50;
      }
  
      .ant-tabs-ink-bar {
        background-color: #4caf50;
      }
    }
  
    .form {
      max-width: 400px;
      width: 100%;
  
      .ant-form-item {
        margin-bottom: 16px;
      }
  
      .submitButton {
        background-color: #4caf50;
        border-color: #4caf50;
        width: 100%;
      }
  
      .googleButton {
        background-color: #db4437;
        border-color: #db4437;
        width: 100%;
        margin-bottom: 10px;
      }
  
      .githubButton {
        background-color: #333;
        border-color: #333;
        width: 100%;
      }
    }
  }
  